{{!-- layout.hbs --}}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/stylesheets/index.css">
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	

	<title>Desde Casa</title>

</head>			

<body>
		{{!-- {{#if currentUser}}
	<p>Hola. Te doy la bienvenida a tu perfil {{currentUser.username}}</p> --}}
	



		{{> header}}

		{{{ body }}}

		
	
</body>