

#player-name{
    display: flex;
    flex-direction: row;
    border-style: solid 2px red;
    justify-content: stretch;
}

#lastname{
    width: 210px;
}

#header-pichanga{
    padding-left: 800px;
}

#logo{
    width: 50px;
}

#text-form{
    width: 200px;
}

#form-player{
    padding-left: 50px;;
}

#botones{
    padding-right: 300px;
    padding-bottom: 20px;;
}

#img-size{

    height: 400px;
    width: 100%;
    background-position: 30% 20%;


}
#carousel{
    filter: brightness(50%)
}